.home {
    display: grid;
    grid-template-columns: .25fr 1fr .25fr;
    align-items: center;
}
.social {
    display: flex;
    flex-direction: column;
    place-items: center;
    gap: 20px;
}
.social hr {
    height: 50vh;
}
.social a {
    display: inline-block;
    width: 28px;
    height: 28px;
}
.social a:hover svg path{
    fill: #64FFDA;
}
.email {
    display: flex;
    align-items: center;
    justify-content: center;
    writing-mode: vertical-lr;
    font-size: 16px;
    letter-spacing: 1px;
    gap: 20px;
    color: #7D8597;
}
.email a {
    text-decoration: none;
    color: #7D8597;
}
.email a:hover {
    color: #64FFDA;
}
.linea {
    height: 50vh;
}
.description h2 {
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
    font-size: 20px;
    color: #64FFDA;
    
}
.name {
    margin: 3% 0 0 0;
    padding: 0;
    color: #CCD6F6;
    font-family: "Calibre", "Inter", "San Francisco", "SF Pro Text", system-ui, sans-serif;
    font-size: clamp(40px, 8vw, 80px);
    letter-spacing: -1px;
}
.things {
    margin: 0;
    padding: 0;
    color: #7D8597;
    font-family: "Calibre", "Inter", "San Francisco", "SF Pro Text", system-ui, sans-serif;
    font-size: clamp(30px, 8vw, 60px);
    letter-spacing: -1px;
}
.text {
    max-width: 55%;
    font-family: "Calibre", "Inter", "San Francisco", "SF Pro Text", system-ui, sans-serif;
    font-size: clamp(20, 4vw, 40px);
    letter-spacing: 1px;
    color: #7D8597;
    margin-top: 3%;
    letter-spacing: -px;
}
.resume {
    display: flex;
    border: 1px solid #64FFDA;
    max-width: 20%;
    height: 50px;
    margin-top: 5%;
}
.resume a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: #64FFDA;
    text-decoration: none;
}
