.menu {
    font-family: monospace;
    line-height: 1.4;
}
.menu ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
    padding: 10px 0;
    margin: 0;
}
.menu li {
    margin: 0 20px;
}
.menu a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    align-items: center;
    color: #fff;
}
.menu a:hover {
    color: #64FFDA;
}
.menu img {
    width: 18px;
}