body {
    margin: 0;
    background-color: black;
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
}
.header {
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: space-between;
}